
<ion-content class="backgr">

  <ion-card>
    <div class="centrar">
      <img [src]="secretoDetalle.url2 " style="height: auto; width: auto" />
    </div>
  <ion-card-header>
    <ion-card-title class="centrar">{{secretoDetalle.nombre}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    

    <div class="centrar"><h1>Respuesta del acertijo</h1>
      <br>
        <ion-label>{{secretoDetalle.respuesta}}</ion-label>
      <br>
      <br>
    <div class="centrar"><h1>Beneficio</h1></div>
      <br>
        <ion-label>{{secretoDetalle.beneficio}}</ion-label>
    </div>
  
        
  </ion-card-content>
</ion-card>

<div class="centrar">

  <ion-button style="text-align: center;" (click)="regresar()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

</div>



</ion-content>