ion-content.backgr{
    --background: url(../../../assets/img/desiertoMinimalistaDark.jpg) 0 0/100% 100% no-repeat;
}

.transparencia {
    background: rgba(112, 112, 112, 0.562);
}

.centrado{
    margin-left: auto;
    margin-right: auto;
  }

.centrar{
    text-align:center;
}